<div class="card-header">
<!--  <img class="imgLogo" src="assets/images/logo.png" alt="logo"/>-->
  <nav class=" mb-5 pt-0" style="margin-bottom: 50px;">
    <a [routerLinkActive]="'active'" [routerLink]="['/home']">À PROPOS </a>
    <a [routerLink]="['/competences']">COMPÉTENCES</a>
    <a [routerLink]="['/parcours']">PARCOURS</a>
    <a [routerLink]="['/realisations']">RÉALISATIONS</a>
    <a [routerLink]="['/contact']">CONTACT</a>
    <div class="animation start-home"></div>
  </nav>
</div>

