<div class="card-header h-auto" style=" display: flex !important; padding-top: 50px; padding-bottom: 50px;height:500px">


<div class="card-container">
  <div class="card card1">
    <div class="mb-2"> <img src="assets/images/portrait.png" height="150"  width="150px"/></div>
    <h2 class="mb-2"><b>Sofiane IDRI</b></h2>
    <br>
    <div class="bordure"></div>
    <div class="hight"></div>
    <b><h6> <img src="assets/images/phone.png" height="20"  width="20px" />  06.51.76.54.74 </h6> </b> <br/>
    <b><h6><img src="assets/images/mail.png" height="20" width="20"/>idri.sof3 &#64; gmail.com </h6></b>  <br/>
    <b><h6><img src="assets/images/idf.png" height="20" width="20"/> Paris Nanterre (92) </h6></b> <br/>
    <b><h6><img src="assets/images/age.png" height="20" width="20"/>  42 ans, 29/03/1981 </h6></b><br/>
    <b><h6><img src="assets/images/permis.png" height="20" width="20"/> Permis B / voiture  </h6></b> <br/>
    <div class="hight"></div>
    <b><h6> <img src="assets/images/phone.png" height="20"  width="20px" />  06.51.76.54.74 </h6> </b> <br/>
    <b><h6><img src="assets/images/mail.png" height="20" width="20"/>idri.sof3 &#64; gmail.com </h6></b>  <br/>
    <b><h6><img src="assets/images/idf.png" height="20" width="20"/> Paris Nanterre (92) </h6></b> <br/>
    <b><h6><img src="assets/images/age.png" height="20" width="20"/>  42 ans, 29/03/1981 </h6></b><br/>
    <b><h6><img src="assets/images/permis.png" height="20" width="20"/> Permis B / voiture  </h6></b> <br/>




    <div class="layers">
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card card2">
    <h3>Hover me</h3><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maiores sapiente non asperiores deleniti, quos eos placeat corrupti id consequatur ullam accusantium, nesciunt aut fugiat at ipsam harum eveniet dolore.</p>
    <div class="layers">
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
    </div>
  </div>
</div>
</div>
