
<meta name="author" content="Sofiane  IDRI" />
<meta
  name="description"
  content="I am a fully motivated developer with more than 3 years of development experience and 5 years computer technician.
I have a DEC in computer science, I am a Java specialist in the background and React and Angular in the foreground.
I work with SQL databases and construction of CI/CD pipelines.
He has expertise in business and startup environments." />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



